[*.cs]

# CS8618: Non-nullable field must contain a non-null value when exiting constructor. Consider declaring as nullable.
dotnet_diagnostic.CS8618.severity = none

# IDE0003: Remove qualification
dotnet_diagnostic.IDE0003.severity = none

# CS8603: Possible null reference return.
dotnet_diagnostic.CS8603.severity = silent

# CS8600: Converting null literal or possible null value to non-nullable type.
dotnet_diagnostic.CS8600.severity = silent

# IDE0090: Use 'new(...)'
dotnet_diagnostic.IDE0090.severity = silent

# CA1304: Specify CultureInfo
dotnet_diagnostic.CA1304.severity = silent

# IDE0057: Use range operator
dotnet_diagnostic.IDE0057.severity = silent

# IDE0059: Unnecessary assignment of a value
dotnet_diagnostic.IDE0059.severity = silent

# CA1822: Mark members as static
dotnet_diagnostic.CA1822.severity = silent

# CA1825: Avoid zero-length array allocations
dotnet_diagnostic.CA1825.severity = silent

# IDE0075: Simplify conditional expression
dotnet_diagnostic.IDE0075.severity = silent

# IDE0052: Remove unread private members
dotnet_diagnostic.IDE0052.severity = silent

# IDE0055: Fix formatting
dotnet_diagnostic.IDE0055.severity = none

# CS8601: Possible null reference assignment.
dotnet_diagnostic.CS8601.severity = silent

# CS8604: Possible null reference argument.
dotnet_diagnostic.CS8604.severity = silent
